body {
    padding-bottom: 8em !important;
}
/*.row {
    margin-left: inherit !important;
    margin-right: inherit !important;
}*/

.view {}

.step__title {
    text-align: center;
    line-height: 2em;
    margin: 0 0 1em;
    padding: .25em 0 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.product-select {
    margin: 2em 0;
}

.product-select__link {
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}

.product-select__link .ico {
    font-size: 5em;
    text-align: center;
    margin-bottom: .1em;
}
/* Summary bar */

.summary {
    background:#00a3ad url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIUlEQVQIW2NkQAL///83ZoTxwRxGxrNgARgHxGZE5oAEAOz3DzVasxQ9AAAAAElFTkSuQmCC) repeat;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: .80em;
    z-index:9999;
}

.summary__info {
    padding: 1em;
}

.summary__title {
    font-size: 2em;
    background: #033241;
    color: white;
    padding: .5em .5em .25em;
    margin: 0;
}

.summary__expand {
    font-size: 1.5em;
    position: absolute;
    top: .65em;
    right: .65em;
    color: white;
    text-decoration: none;
    display:block;
}

.summary__element {
    margin: 0;
    color: #fff;
    background: #006685;
    border-radius: .3em;
    padding: .5em .5em .2em;
    display: inline-block;
    text-align: center;
}

.summary__data {
    font-size: 2em;
    margin: 0 auto;
    line-height: 1em;
    padding-top: 0.1em;
}

.summary__label {
    font-size: .75em;
    display: block;
    text-align: center;
    color: #91CCDD;
}

.summary__checkout {
    position: absolute !important;
    top: 3.1em;
    right: 1em;
    padding: 1.2em 2em !important;
}

@media only screen and (min-width: 860px) {
    .summary__checkout {
        position: absolute !important;
        left: 15em;
        right: initial;
        padding: 1.5em 4em !important;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.summary.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
