<div class="view step-2 mobile-broadband">

        <div class="row">
            <div class="large-12 columns">
                <h2 class="step__title">Mobile Broadband - I need a</h2>
            </div>
        </div>

        <div class="row">
            <div class="columns large-4 medium-6 product-select">
                <a href="#" class="product-select__link">
                    <span class="ico ico-tablet teal"></span>
                    <h3 class="product-select__title">Tablet and Plan</h3>
                    <p class="text-center">
                        <button class="button radius small yellow">Select</button>
                    </p>
                </a>
            </div>
            <div class="columns large-4 medium-6 product-select">
                <a href="#" class="product-select__link">
                    <span class="ico ico-modem teal"></span>
                    <h3 class="product-select__title">Modem and Plan</h3>
                    <p class="text-center">
                        <button class="button radius small yellow">Select</button>
                    </p>
                </a>
            </div>
            <div class="columns large-4 medium-12 product-select">
                <a href="#" class="product-select__link">
                    <span class="ico ico-nano-sim teal"></span>
                    <h3 class="product-select__title">Plan Only</h3>
                    <p class="text-center">
                        <button class="button radius small yellow">Select</button>
                    </p>
                </a>
            </div>

        </div>

    </div>
