<div class="view step-2">

        <div class="row">
            <div class="large-12 columns">
                <h2 class="step__title">Mobile Phones - I need a</h2>
            </div>
        </div>

        <div class="row">
            <div class="columns large-6 medium-6 product-select">
                <a href="#" class="product-select__link">
                    <span class="ico ico-mobile-devices teal"></span>
                    <h3 class="product-select__title">A phone and a plan</h3>
                    <p class="text-center">
                        <button class="button radius small yellow">Select</button>
                    </p>
                </a>
            </div>
            <div class="columns large-6 medium-6 product-select">
                <a href="#" class="product-select__link">
                    <span class="ico ico-nano-sim teal"></span>
                    <h3 class="product-select__title">Plan only</h3>
                    <p class="text-center">
                        <button class="button radius small yellow">Select</button>
                    </p>
                </a>
            </div>

        </div>

    </div>
    <!-- end step2 -->
