<div class="view step-5">

        <!-- Start Tablet/Desktop Plan Table -->
        <div class="show-for-medium-up row">

            <div class="desktopPlansView large-12 columns">
                <div class="planSelectorModule">
                    <table class="table-1 horizontal-headers theme-business planListingTable" border="1" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <th class="table-head" scope="row"><span class="uppercase">24 MONTH CONTRACT</span>
                                </th>
                                <th class="table-head" scope="row"><span class="heading-emphasis"><sup>$</sup>35</span>
                                </th>
                                <th class="table-head" scope="row"><span class="heading-emphasis"><sup>$</sup>50</span>
                                </th>
                                <th class="table-head" scope="row"><span class="heading-emphasis"><sup>$</sup>60</span>
                                </th>
                                <th class="table-head" scope="row"><span class="heading-emphasis"><sup>$</sup>80</span>
                                </th>
                                <th class="table-head" scope="row"><span class="heading-emphasis"><sup>$</sup>100</span>
                                </th>
                            </tr>
                            <tr></tr>
                            <tr valign="top">
                                <th scope="row" class="text-left border-right border-top padding-left-none"><span class="heading-quinary">INCLUDED Minutes</span>
                                    <br> <span class="table-heading-secondary">Standard Australian mobiles and landlines, 13/1300 numbers, voicemail and international* calls</span>
                                </th>
                                <td class="text-left border-right border-top"><span class="heading-quinary"><p><span style="font-size: 1.0em; line-height: 20px;">Up to 300 mins</span>
                                    <br><span style="font-size: 13px; line-height: 20px; font-weight: normal;">for standard national calls</span>
                                    </p>
                                    </span> <span class="planCalloutText">Use more and get 200 mins for $10 or UNLIMITED mins for $20</span>
                                </td>
                                <td class="text-left border-right border-top"><span class="heading-quinary"><p><span style="font-size: 1.0em; line-height: 20px;">Up to 600 mins</span>
                                    <br><span style="font-size: 13px; line-height: 20px; font-weight: normal;">for standard national calls</span>
                                    </p>
                                    </span> <span class="planCalloutText">Use more and get UNLIMITED mins for $10</span>
                                </td>
                                <td class="text-left border-right border-top"><span class="heading-quinary">Unlimited mins<br> <span style="font-size: 12px; font-weight: normal;">for standard national calls and <b>up to 50 mins</b> standard international* calls</span></span> <span class="planCalloutText"></span>
                                </td>
                                <td class="text-left border-right border-top"><span class="heading-quinary">Unlimited mins<br> <span style="font-size: 12px; font-weight: normal;">for standard national calls and <b>up to 150 mins</b> standard international* calls</span></span> <span class="planCalloutText"></span>
                                </td>
                                <td class="text-left border-right border-top"><span class="heading-quinary">Unlimited mins<br> <span style="font-size: 12px; font-weight: normal;">for standard national calls and <b>up to 300 mins</b> standard international* calls</span></span> <span class="planCalloutText"></span>
                                </td>
                            </tr>
                            <tr valign="top">
                                <th scope="row" class="text-left border-right border-top padding-left-none"><span class="heading-quinary">INCLUDED SMS/MMS</span>
                                    <br> <span class="table-heading-secondary">Standard national &amp; international^ SMS/MMS</span>
                                </th>
                                <td class="text-left border-right border-top"><span class="heading-quinary">Unlimited</span>
                                    <br>
                                </td>
                                <td class="text-left border-right border-top"><span class="heading-quinary">Unlimited</span>
                                    <br>
                                </td>
                                <td class="text-left border-right border-top"><span class="heading-quinary">Unlimited</span>
                                    <br>
                                </td>
                                <td class="text-left border-right border-top"><span class="heading-quinary">Unlimited</span>
                                    <br>
                                </td>
                                <td class="text-left border-right border-top"><span class="heading-quinary">Unlimited</span>
                                    <br>
                                </td>
                            </tr>
                            <tr valign="top">
                                <th scope="row" class="text-left border-right border-top padding-left-none"><span class="heading-quinary">INCLUDED DATA</span>
                                    <br> <span class="table-heading-secondary">You can share this data with up to 5 mobile devices</span>
                                </th>
                                <td class="text-left border-right border-top"><span class="heading-quinary">500MB</span>
                                    <br> <span class="planCalloutText planCalloutTextLineHeight">$10 per extra 1GB</span>
                                    <br> <span class="planCalloutText">Cost of 1MB included data $0.0293</span>
                                </td>
                                <td class="text-left border-right border-top"><span class="heading-quinary">1GB</span>
                                    <br> <span class="planCalloutText planCalloutTextLineHeight">$10 per extra 1GB</span>
                                    <br> <span class="planCalloutText">Cost of 1MB included data $0.0195</span>
                                </td>
                                <td class="text-left border-right border-top"><span class="heading-quinary">2.5GB</span>
                                    <br> <span class="planCalloutText planCalloutTextLineHeight">$10 per extra 1GB</span>
                                    <br> <span class="planCalloutText">Cost of 1MB included data $0.0098</span>
                                </td>
                                <td class="text-left border-right border-top"><span class="heading-quinary">5GB</span>
                                    <br> <span class="planCalloutText planCalloutTextLineHeight">$10 per extra 1GB</span>
                                    <br> <span class="planCalloutText">Cost of 1MB included data $0.0068</span>
                                </td>
                                <td class="text-left border-right border-top"><span class="heading-quinary">8GB</span>
                                    <br> <span class="planCalloutText planCalloutTextLineHeight">$10 per extra 1GB</span>
                                    <br> <span class="planCalloutText">Cost of 1MB included data $0.0061</span>
                                </td>
                            </tr>
                            <tr valign="top" class="border-top">
                                <td class="text-left border-right border-top"><span class="uppercase"></span>
                                </td>
                                <td class="text-left border-right border-top"><a href="/opfiles/Shop/All/cis/Cis Documents/1400925_CIS_35_My_Plan_Plus.pdf" class="cisLink">Critical Info Summary</a>
                                    <br> <a href="#" class="button radius small yellow planSelectButton" data-column="0">Select</a>
                                </td>
                                <td class="text-left border-right border-top"><a href="/opfiles/Shop/All/cis/Cis Documents/1400926_CIS_50_My_Plan_Plus.pdf" class="cisLink">Critical Info Summary</a>
                                    <br> <a href="#" class="button radius small yellow planSelectButton" data-column="1">Select</a>
                                </td>
                                <td class="text-left border-right border-top"><a href="/opfiles/Shop/All/cis/Cis Documents/1400927_CIS_60_My_Plan_Plus.pdf" class="cisLink">Critical Info Summary</a>
                                    <br> <a href="#" class="button radius small yellow planSelectButton" data-column="2">Select</a>
                                </td>
                                <td class="text-left border-right border-top"><a href="/opfiles/Shop/All/cis/Cis Documents/1400928_CIS_80_My_Plan_Plus.pdf" class="cisLink">Critical Info Summary</a>
                                    <br> <a href="#" class="button radius small yellow planSelectButton" data-column="3">Select</a>
                                </td>
                                <td class="text-left border-right border-top"><a href="/opfiles/Shop/All/cis/Cis Documents/1400929_CIS_100_My_Plan_Plus.pdf" class="cisLink">Critical Info Summary</a>
                                    <br> <a href="#" class="button radius small yellow planSelectButton" data-column="4">Select</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <!-- End Tablet/Desktop Plan Table -->

        <!-- Start Mobile Plan Tables -->

        <div class="planSelectorWidget">
            <div class="carousel show-for-small" unselectable="on">
                <div class="carousel-itemOuterContainer carousel-itemOuterContainer-plans">

                    <div class="carousel-itemContainer">

                        <div class="carousel-item" unselectable="off">
                            <div class="planSummaryItem panel">
                                <div class="planHeading">
                                    <h2><span class="heading-emphasis"><sup>$</sup>35</span> <span class="uppercase calloutPlan">per month</span></h2>
                                </div>
                                <div class="planViewDetails">
                                    <div class="large-10 small-10 columns">
                                        <h5>View Details</h5>
                                    </div>
                                    <div class="large-2 small-2 columns"><span class="ico ico-arrow-down"></span>
                                    </div>
                                </div>
                                <div class="planBody">
                                    <div class="planBorder">
                                        <h4><p><span style="font-size: 1.0em; line-height: 20px;">Up to 300 mins</span><br><span style="font-size: 13px; line-height: 20px; font-weight: normal;">for standard national calls</span></p> </h4>
                                        <p class="hide"><span class="planCalloutText">Use more and get 200 mins for $10 or UNLIMITED mins for $20</span>
                                        </p>
                                    </div>
                                    <div class="planBorder">
                                        <h4>Unlimited SMS/MMS</h4>
                                        <p class="hide"><span class="planCalloutText"><span style="font-size: 12px; font-weight: normal;">Standard national &amp; international^ SMS/MMS</span></span>
                                        </p>
                                    </div>
                                    <div class="planBorder">
                                        <h4>500MB&nbsp;</h4>
                                        <p class="hide"><span class="planCalloutText">$10 per extra 1GB</span>
                                            <br><span class="planCalloutText">Cost of 1MB included data $0.0293</span>
                                        </p>
                                    </div>
                                    <p><a href="/opfiles/Shop/All/cis/Cis Documents/1400925_CIS_35_My_Plan_Plus.pdf">Critical Info Summary</a>
                                    </p>
                                    <p><a href="#" class="button radius small yellow full-width planSelectButton value" data-group="handset" data-val="35" data-column="0">Select this plan</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" unselectable="off">
                            <div class="planSummaryItem panel">
                                <div class="planHeading">
                                    <h2><span class="heading-emphasis"><sup>$</sup>65</span> <span class="uppercase calloutPlan">per month</span></h2>
                                </div>
                                <div class="planViewDetails">
                                    <div class="large-10 small-10 columns">
                                        <h5>View Details</h5>
                                    </div>
                                    <div class="large-2 small-2 columns"><span class="ico ico-arrow-down"></span>
                                    </div>
                                </div>
                                <div class="planBody">
                                    <div class="planBorder">
                                        <h4><p><span style="font-size: 1.0em; line-height: 20px;">Up to 300 mins</span><br><span style="font-size: 13px; line-height: 20px; font-weight: normal;">for standard national calls</span></p> </h4>
                                        <p class="hide"><span class="planCalloutText">Use more and get 200 mins for $10 or UNLIMITED mins for $20</span>
                                        </p>
                                    </div>
                                    <div class="planBorder">
                                        <h4>Unlimited SMS/MMS</h4>
                                        <p class="hide"><span class="planCalloutText"><span style="font-size: 12px; font-weight: normal;">Standard national &amp; international^ SMS/MMS</span></span>
                                        </p>
                                    </div>
                                    <div class="planBorder">
                                        <h4>500MB&nbsp;</h4>
                                        <p class="hide"><span class="planCalloutText">$10 per extra 1GB</span>
                                            <br><span class="planCalloutText">Cost of 1MB included data $0.0293</span>
                                        </p>
                                    </div>
                                    <p><a href="/opfiles/Shop/All/cis/Cis Documents/1400925_CIS_35_My_Plan_Plus.pdf">Critical Info Summary</a>
                                    </p>
                                    <p><a href="#" class="button radius small yellow full-width planSelectButton value" data-group="handset" data-val="65" data-column="0">Select this plan</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- End Mobile Plan Tables -->

    </div>

    <!-- end step4 -->
